@model OrderPrediction

@{
    // Calculate the total using the Cart in your ViewModel
    var cartTotal = Model.Cart.CalculateTotal();
}

<h2>Cart Total: @cartTotal</h2>

<form asp-action="Checkout" method="post">
    <div>
        <label asp-for="Order.EntryMode">Entry Mode</label>
        <select asp-for="Order.EntryMode" class="form-control">
            <option value="PIN">PIN</option>
            <option value="Tap">Tap</option>
            <option value="CVC">CVC</option>
        </select>
    </div>

    <div>
        <label asp-for="Order.TypeOfTransaction">Type of Transaction</label>
        <select asp-for="Order.TypeOfTransaction" class="form-control">
            <option value="POS">POS</option>
            <option value="ATM">ATM</option>
            <option value="Online">Online</option>
        </select>
    </div>

    <div>
        <label asp-for="Order.CountryOfTransaction">Country of Transaction</label>
        <select asp-for="Order.CountryOfTransaction" class="form-control">
            <option value="United Kingdom">United Kingdom</option>
            <option value="Russia">Russia</option>
            <option value="USA">USA</option>
            <option value="India">India</option>
            <option value="China">China</option>
        </select>
    </div>


    <div>
        <label asp-for="Order.ShippingAddress">Shipping Address</label>
        <select asp-for="Order.ShippingAddress" class="form-control">
            <option value="United Kingdom">United Kingdom</option>
            <option value="Russia">Russia</option>
            <option value="USA">USA</option>
            <option value="India">India</option>
            <option value="China">China</option>
        </select>
    </div>


    <div>
        <label asp-for="Order.Bank">Bank</label>
        <select asp-for="Order.Bank" class="form-control">
            <option value="Barclays">Barclays</option>
            <option value="Halifax">Halifax</option>
            <option value="HSBC">HSBC</option>
            <option value="Lloyds">Lloyds</option>
            <option value="Metro">Metro</option>
            <option value="Monzo">Monzo</option>
            <option value="RBS">RBS</option>
        </select>
    </div>


    <div>
        <label asp-for="Order.TypeOfCard">Type of Card</label>
        <select asp-for="Order.TypeOfCard" class="form-control">
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
        </select>
    </div>

    <div>
        <label asp-for="Customer.Age">Age</label>
        <input asp-for="Customer.Age" type="number" />
    </div>

    <button type="submit">Submit</button>
</form>
