@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}        
@* <h1>
    Only Accessible by an authorized, logged in user.
    checkout page
</h1>
<br />
<br />
<div class="row">
    <div class="col-12 text-center">

        <h3>Thank you for shopping with Aurora Bricks!</h3>
        <h3>or We are still procssing your order.</h3>
        <br />
        <h3>Order Summary</h3>
        <br />
        <br />
        <p>Order Number: 1234567890</p>
        <br />
        <br />
        <p>Order Details</p>
        <br />
        <br />
        <h3>Grand Total</h3>
        <br />
        <br />
        <h3>Return to Homepage button</h3>
    </div>
</div>
<br />
<br /> *@