<style>
    .order-summary-box {
        border: 2px solid #ccc;
        padding: 20px;
        margin: 20px auto;
        width: 80%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .order-details {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 20px;
    }

    .text-center {
        text-align: center;
    }

    .transaction-id, .grand-total {
        font-weight: bold;
    }
</style>


<div class="order-summary-box">
    <h3 class="text-center">Thank you for shopping with Aurora Bricks!</h3>
    <div class="order-details">
        <h2>Order Summary</h2>
        <h4>Transaction ID: <span class="transaction-id">@ViewBag.TransactionID</span></h4>
        <h4>Grand Total: <span class="grand-total">$@ViewBag.Amount.00</span></h4>
    </div>
</div>
