@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IntexII_Project_4_2.Models.ViewModels.IndexViewModel

<div class="row" style="background-image: url('../img/LegoBinLighterUse.png'); background-attachment: fixed; padding: 0; width:100%; height:auto; text-align: left; background-repeat:no-repeat; background-size:cover;">
    <div class="col-7" style="padding-left:64px">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 style="font-weight:bolder; font-size:64px;">Build your Dreams, One Brick At a Time</h1>
        <br />
    </div>
    <br />
    <div class="col-8" style="padding-left:64px">
        <h4 style="font-weight:bolder;">With our vast selection of LEGO kits, from the rarest vintage sets to the latest releases, you'll find everything you need to turn your dream builds into reality. Whether you're a seasoned collector or a new builder on the block, we're here to help you unlock endless possibilities, one brick at a time. Start your adventure today!</h4>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row" style="align-content:center;">
    <div class="col-3">
        <img src="~/img/Designer (3) (1).png" style="width:100%; height=auto"/>
    </div>
    <div class="col-7">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Who is Aurora Bricks?</h2>
        <p>Aurora transformed her LEGO passion from a vibrant social media presence into the innovative Aurora Bricks web app. Her journey began with a simple love for building and has grown into a thriving community for LEGO enthusiasts everywhere. With an eye for both rare finds and the newest sets, Aurora's mission is to connect builders of all ages with the LEGO kits that spark creativity and joy.</p>
        <br />
        <p>As Aurora Bricks makes its exciting transition, Aurora continues to focus on a personalized, engaging shopping experience. She believes in the power of LEGO to inspire, educate, and unite, inviting you to join her in crafting incredible stories, one brick at a time.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>