@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<h1>Any user can see their cart contents here.</h1>
<br />
<br />

<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <h2>IMG</h2>
            </div>
            <div class="col-2">
                <h4>Title</h4>
                <br />
                <br />
                <br />
                <h4>Price</h4>
                <br />
            </div>
            <div class="col-4">
                <button onclick="decrementQuantity()">-</button>
                <input type="text" id="quantity" value="1">
                <button onclick="incrementQuantity()">+</button>
            </div>
            <div class="col-2">
                <h4>Trash</h4>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <h2>Order Summary</h2>
            <br />
            <br />
            <br />
            <h3>Insert Order List Here</h3>
            <br />
            <h2>Grand Total</h2>
            <br />
            <br />
            <br />
            <h3>Checkout Button</h3>
        </div>
    </div>
</div>



<script>
    function decrementQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }

    function incrementQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value);
        quantityInput.value = currentQuantity + 1;
    }

    function addToCart() {
        var quantityInput = document.getElementById('quantity');
        var quantity = parseInt(quantityInput.value);
        // Add your code to add the product to the cart with the specified quantity
        alert('Added ' + quantity + ' product(s) to cart.');
    }
</script>