@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        background-color: #DFDFDF;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #DA291C;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.6;
    }
</style>

<div class="row" style="background-image: url('img/LegoBackUse.png'); background-attachment: fixed; height:575px; text-align: center; display: flex; justify-content: center;">
    <img src="~/img/aurorabricks.png" style="align-self: center; height:444px; width:auto;" />
</div>
<br />
<br />
<p style="font-size:30px; padding-left: 35px;">What others are buying</p>
<br />
<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="" alt="Legos" style="width: 100%;">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px;">
                <p style="font-size:25px; color:#DA291C;">Great Legos</p>
                <p style="font-size:15px;">These legos are great!</p>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-5">
                    <p style="font-size:25px; text-align: left; padding-left: 25px;">$19.99</p>
                </div>
                <div class="col-7">
                    <p style="padding-right: 25px;"><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="" alt="Legos" style="width: 100%;">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px;">
                <p style="font-size:25px; color:#DA291C;">Good Legos</p>
                <p style="font-size:15px;">These legos are good!</p>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-5">
                    <p style="font-size:25px; text-align: left; padding-left: 25px;">$19.99</p>
                </div>
                <div class="col-7">
                    <p style="padding-right: 25px;"><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="" alt="Legos" style="width: 100%;">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px;">
                <p style="font-size:25px; color:#DA291C;">Okay Legos</p>
                <p style="font-size:15px;">These legos are okay!</p>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-5">
                    <p style="font-size:25px; text-align: left; padding-left: 25px;">$19.99</p>
                </div>
                <div class="col-7">
                    <p style="padding-right: 25px;"><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="" alt="Legos" style="width: 100%;">
            <div style="text-align: left; padding-left: 25px; padding-right: 25px;">
                <p style="font-size:25px; color:#DA291C;">Bad Legos</p>
                <p style="font-size:15px;">These legos are bad!</p>
            </div>
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-5">
                    <p style="font-size:25px; text-align: left; padding-left: 25px;">$19.99</p>
                </div>
                <div class="col-7">
                    <p style="padding-right: 25px;"><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
</div>