@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductListViewModel


@*Home/ViewProducts*@

<br />
<h1 style="padding-left: 25px;">Showing All Products</h1>
<br />
<br />
<div class="row" style="padding-bottom:15px;">
    <div class="col-4">
        <h2 style="padding-left: 45px;">Filter</h2>
    </div>
    <div class="col-8">
        <h2>Products</h2>
    </div>
</div>
<div class="row">
    <div class="col-4" style="padding-left: 60px;">
        <form method="get" action="/Home/ViewProducts">
            <h4>Category</h4>
            <div>
                <input type="checkbox" name="categories" value="Animal">
                <label>Animal</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Building">
                <label>Building</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Car">
                <label>Car</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Character">
                <label>Character</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Colorful">
                <label>Colorful</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="DC">
                <label>DC</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Disney">
                <label>Disney</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Energy">
                <label>Energy</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Farm">
                <label>Farm</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Flight">
                <label>Flight</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Floral">
                <label>Floral</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Food">
                <label>Food</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Game">
                <label>Game</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Harry Potter">
                <label>Harry Potter</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Minifig">
                <label>Minifig</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Motorbike">
                <label>Motorbike</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Part">
                <label>Part</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Person">
                <label>Person</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Personal">
                <label>Personal</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Promotional">
                <label>Promotional</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Star Wars">
                <label>Star Wars</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Train">
                <label>Train</label>
            </div>
            <div>
                <input type="checkbox" name="categories" value="Vehicle">
                <label>Vehicle</label>
            </div>



            <h4>Color</h4>
            <input type="checkbox" name="colors" value="Black">
            <label>Black</label><br>
            
            <input type="checkbox" name="colors" value="Blue">
            <label>Blue</label><br>
            
            <input type="checkbox" name="colors" value="Brown">
            <label>Brown</label><br>
            <input type="checkbox" name="colors" value="Green">
            <label>Green</label><br>            
            <input type="checkbox" name="colors" value="Grey">
            <label>Grey</label><br>
            <input type="checkbox" name="colors" value="Pink">
            <label>Pink</label><br>
            <input type="checkbox" name="colors" value="Red">
            <label>Red</label><br>            
            <input type="checkbox" name="colors" value="Tan">
            <label>Tan</label><br>
            <input type="checkbox" name="colors" value="White">
            <label>White</label><br>

            <input type="checkbox" name="colors" value="Yellow">
            <label>Yellow</label><br>


            <input type="submit" value="Apply Filters">
        </form>
            <br />
        <br>
        
        <br>
    </div>
    <div class="col-8">
        @foreach (Product p in Model.Products)
        {
            <partial name="ProductSummary" model="p" />
        }

        <div page-model="@Model.PaginationInfo" page-action="ViewProducts" page-classes-enable="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
    </div>
</div>

