@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
<div class="card m-1 p-1">


    <h3>
        @Model.Name
        <span class="badge rounded-pill bg-primary text-white float-end"><small>Price: $@Model.Price</small></span>
    </h3>

    <ul>
        <li>Category: @Model.Category</li>
        <li>Description: @Model.Description</li>
    </ul>
</div>