@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h1>This view is to add a product for sale. Only for admins.</h1> *@

<h1>Add a New Product</h1>
<br />
<form>
    <div class="row">
        <div class="col-3">
            <h2>Product Name</h2>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <h4>Year</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <h4>Price</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <h4>NumParts</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <h4>Pri Color</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <h4>Sec Color</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-2">
            <h4>Category</h4>
            <input style="width: 100%;" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <h3>Description</h3>
            <input style="width: 100%;" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-3">
            <h4>Image Link</h4>
            <input style="width: 100%;" />
        </div>
        <div class="col-1">
            <br />
            <button >Add</button>
        </div>

    </div>
</form>
