@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h1>This view displays all the products available on the website. Only accessible to admins.</h1> *@

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Admin Product List</h2>
<br />
<br />
<button>Add Product</button>

<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Number of Parts</th>
        <th>Image Link</th>
        <th> </th>
        <th> </th>
    </tr>
    @* <tr>
    Psuedo code:
    for each entry in transaction table
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Year</th>
    <th>Price</th>
    <th>Number of Parts</th>
    <th>Image Link</th>
    </tr> *@
    <tr>
        <td>4</td>
        <td>Ahsoka's Starfighter and Vulture Droid</td>
        <td>2009</td>
        <td>$290.00</td>
        <td>150</td>
        <td>image link</td>
        <td><button>Update Info</button></td>
        <td><button>Delete Item</button></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Exact Replica of PJ's momma</td>
        <td>1973</td>
        <td>$priceless.00</td>
        <td>1 big heart</td>
        <td>image link</td>
        <td><button>Update Info</button></td>
        <td><button>Delete Item</button></td>
    </tr>
</table>