@model IntexII_Project_4_2.Data.Product

<style>
    header {
        background-color: #DA291C;
    }

    .header-container {
        background: #DA291C;
        height: 7.2rem;
        transition: all 0.2s ease-in-out;
        z-index: 100;
    }

    footer {
        background-color: #DA291C;
    }

    h1 {
        font-weight:bold;
    }

    h3{
        font-weight:bold;
    }

</style>

<div style="padding-left:25px;">
    <br />
    <br />
    <br />
    <h1>Are you sure you want to delete this product?</h1>
    <p>Product Name: @Model.Name</p> <!-- Example of accessing Product properties -->

    <form asp-action="DeleteProduct" asp-controller="Admin" method="post">
        <input type="hidden" name="productId" value="@Model.ProductId" />
        <button type="submit">Confirm Delete</button>
    </form>
    </div>