@model IntexII_Project_4_2.Data.Product

<h1>Confirm Product Update</h1>

<form asp-action="UpdateProduct" asp-controller="Admin" method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Year" />
    <input type="hidden" asp-for="NumParts" />
    <input type="hidden" asp-for="Price" />
    <input type="hidden" asp-for="ImgLink" />
    <input type="hidden" asp-for="PrimaryColor" />
    <input type="hidden" asp-for="SecondaryColor" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="Category" />

    <button type="submit" class="btn btn-success">Confirm Changes</button>
</form>

<a href="@Url.Action("AllProducts", "Admin")" class="btn btn-warning">Abort Changes</a>