@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h1>This view is the landing page for the admin. It should be accessible directly after logging in as admin.</h1> *@

<h1>Welcome, [dynamic admin user name]!</h1>
<br />
<br />
<br />
<br />
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-2">
        <h3>KPI - Total Sales this Year</h3>
        <br />
        <h3>number here</h3>
    </div>
    <div class="col-2">
        <h3>KPI - Total Sales past 7 days</h3>
        <br />
        <h3>number here</h3>
    </div>
    <div class="col-2">
        <h3>KPI - Unfulfilled Orders</h3>
        <br />
        <h3>number here</h3>
    </div>
    <div class="col-2">
        <h3>KPI - Orders Fulfilled in the past 7 days</h3>
        <br />
        <h3>number here</h3>
    </div>
    <div class="col-2">
        <h3>Number of Open Return Requests</h3>
        <br />
        <h3>number here</h3>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-4">
        <button>See All Orders</button>
        <button>Update Products</button>
    </div>
</div>