button {
    text-align: center;
}

header {
    background-color: #FFD700;
}

footer {
    background-color: #FFD700;
}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-container {
    background: #FFD700;
    height: 7.2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.header-container.fixedToTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    height: auto;
}

body {
  margin-bottom: 60px;
}